body {
    background-color: #f8f9fa;
    color: #495057;
}

nav.navbar {
    background-color: hsl(0, 0%, 100%);
}

nav.navbar a.navbar-brand,
nav.navbar a.nav-link,
form.navbar-nav button {
    color: #394244;
}

nav.navbar a.navbar-brand:hover,
nav.navbar a.nav-link:hover,
form.navbar-nav button:hover {
    color: #ffffff;
}

div.container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
